{#
	@pram p_headline - headline
	@pram p_text - text
#}
<div class="row" id="app">
<div class="one-half column" style="margin-top: 25%">
<h2>{{p_headline}}</h2>
<p>{{p_text}}</p>
<p>A dyanic part with vue ${message}</p>
</div>
</div>